PORT=3000
NODE_ENV=development
CRON_TOKEN=your-secret-token-here
CRON_SCHEDULE="0 3 * * *"
CRON_TIMEZONE="Asia/Bangkok"
DATABASE_URL="postgresql://postgres:123123@localhost:5432/gudangin?schema=public"
# PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
